@{
    ViewData["Title"] = "Ludo Game";
}

<!-- Lagt till detta för att få ett spelplan -->
<html>
<head>
    <link href="reset.css" rel="stylesheet" />
    <link href="LudoStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="gameWrapper">
        <div class="board">
            <div class="wing" id="leftWing">
                <div class="field"></div>
                <div class="field player2"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field player2"></div>
                <div class="field player2"></div>
                <div class="field player2"></div>
                <div class="field player2"></div>
                <div class="field player2"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
            </div>
            <div class="wing" id="rightWing">
                <div class="field"></div>
                <div class="field player3"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field player3"></div>
                <div class="field player3"></div>
                <div class="field player3"></div>
                <div class="field player3"></div>
                <div class="field player3"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
            </div>
            <div class="wing" id="topWing">
                <div class="field"></div>
                <div class="field player4"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field player4"></div>
                <div class="field player4"></div>
                <div class="field player4"></div>
                <div class="field player4"></div>
                <div class="field player4"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
            </div>
            <div class="wing" id="bottomWing">
                <div class="field"></div>
                <div class="field player1"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field player1"></div>
                <div class="field player1"></div>
                <div class="field player1"></div>
                <div class="field player1"></div>
                <div class="field player1"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
                <div class="field"></div>
            </div>

            <div class="goal"></div>
            <div class="start player1">

                <div class="field">
                    <div class="brick player1"></div>
                </div>
                <div class="field">
                    <div class="brick player1"></div>
                </div>
                <div class="field">
                    <div class="brick player1"></div>
                </div>
                <div class="field">
                    <div class="brick player1"></div>
                </div>
            </div>

            <div class="start player2">
                <div class="field">
                    <div class="brick player2"></div>
                </div>
                <div class="field">
                    <div class="brick player2"></div>
                </div>
                <div class="field">
                    <div class="brick player2"></div>
                </div>
                <div class="field">
                    <div class="brick player2"></div>
                </div>
            </div>
            <div class="start player3">
                <div class="field">
                    <div class="brick player3"></div>
                </div>
                <div class="field">
                    <div class="brick player3"></div>
                </div>
                <div class="field">
                    <div class="brick player3"></div>
                </div>
                <div class="field">
                    <div class="brick player3"></div>
                </div>
            </div>
            <div class="start player4">
                <div class="field">
                    <div class="brick player4"></div>
                </div>
                <div class="field">
                    <div class="brick player4"></div>
                </div>
                <div class="field">
                    <div class="brick player4"></div>
                </div>
                <div class="field">
                    <div class="brick player4"></div>
                </div>
            </div>
        </div>
        <div class="gameInfo">

            @*nedan är en bild, hade den för att testa mig fram bara*
            @*<img src="~/images/1528080671pikachu-not-happy-pokemon-png.png" width="104" height="142">*@
            <div class="currentPlayer">Current player </div>
            <div class="dice">
                @if (1 == 1)
                {
                    <div class="diceDot" id="center"></div>
                }
                else
                {

                }

                <!--<div class="diceDot" id="center"></div> För att slippa ha 7 prickar på tärningen-->
                <div class="diceDot" id="leftUpper"></div>
                <div class="diceDot" id="leftMiddel"></div>
                <div class="diceDot" id="leftLower"></div>
                <div class="diceDot" id="rightUpper"></div>
                <div class="diceDot" id="rightMiddel"></div>
                <div class="diceDot" id="rightLower"></div>
            </div>
            <button onclick="" class="button">Dice</button>
        </div>
    </div>
</body>
</html>
